#-----------------------------------------------------------------------------#
# Build outputs
#-----------------------------------------------------------------------------#
node_modules/
dist/
build/
coverage/
.vite/
out/

#-----------------------------------------------------------------------------#
# Local documentation or excluded files
#-----------------------------------------------------------------------------#
docs/
**/*.pl.md
**/*.pl.*
*.docx
*.pdf

#-----------------------------------------------------------------------------#
# PDF worker file
#-----------------------------------------------------------------------------#
public/pdf.worker.min.js

#-----------------------------------------------------------------------------#
# Lock files
#-----------------------------------------------------------------------------#
*.lock
